<div class="form-container">
  <h2> Student <span>Please fill out details</span> </h2>
  <%= form_for @student do |f| %>  
    <% if @student.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@student.errors.count, "error") %> prohibited
          this student from being saved:
        </h2>
        <ul>
          <% @student.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="col-md-6">
        <div class="input-box"> <i class="sprite icn-user"></i>
          <%= f.text_field :username, :placeholder => "Username" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-box">
            Student Number: <%=  f.object.student_number %>          
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="input-box"> <i class="sprite icn-user"></i>
          <%= f.text_field :first_name, :placeholder => "First Name" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-box"> <i class="sprite icn-user"></i>
          <%= f.text_field :last_name, :placeholder => "Last Name" %>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6 gender-field">
        <%= f.label :gender %>
          <div class="custom-opt">
              <label class=""><%= f.radio_button :gender, 'male' %>Male</label>
              <label class=""><%= f.radio_button :gender, 'female' %>Female</label>
          </div>
      </div>
      <div class="col-md-6">
        <div class="input-box">
            <div class="date-of-birth"><%= f.text_field :dob, :placeholder => "Date Of Birth", class: "datepicker" %><i class="sprite icn-choosedate"></i></div>
          </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <div class="input-box">
            <%= f.text_area :address_1, :placeholder => "Address1" %>            
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-box profile-img">
            <div id="preview-box">
            <%= image_tag(@student.profile_picture.url(:thumb),class: "no-image") %>
          </div>
          <div class="file-button">  <%=f.file_field :profile_picture%> Upload Image</div>                        
           </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <div class="input-box"> <i class="sprite icn-user"></i>
          <%= f.text_field :address_2, :placeholder => "Address2" %>          
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-box"> <i class="sprite icn-user"></i>
          <%= f.text_field :postcode, :placeholder => "Postal Code" %>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6">
      <div class="input-box"> <i class="sprite icn-user"></i>
        <%= f.text_field :city, :placeholder => "City" %>        
      </div>
      </div>
      <div class="col-md-6">
      <div class="input-box"> <i class="sprite icn-user"></i>
        <%= f.text_field :country, :placeholder => "Country" %>        
      </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <div class="input-box"> <i class="sprite icn-email"></i>
          <%= f.email_field :email, :placeholder => "Email" %>
        </div>
      </div>
      <div class="col-md-6 gender-field">
        <label class="">Status:</label>
          <div class="custom-opt">
              <%#= f.select :status, Student.statuses.keys %>
              <label class=""><%= f.radio_button :status, 'active' %>Active</label>
              <label class=""><%= f.radio_button :status, 'inactive' %>Inactive</label>
          </div>
      </div>                
    </div>                
    
    <div class="row">
      <div class="col-md-12">
      <%= f.submit "#{@student.new_record? ? 'Add' : 'Update'} Student", :class => "submit pull-right" %>    
      </div>
    </div>
  <% end %>
</div>




<script>
  // Privew Image
  var avatar = $("#student_profile_picture");
  avatar[0].addEventListener("change",previewImages,false); //bind the function to the input
  function previewImages(){
    var fileList = this.files;    
    var anyWindow = window.URL || window.webkitURL;
    var objectUrl = anyWindow.createObjectURL(fileList[0]);    
    $('#preview-box').html('<img class="profileimg" src="' + objectUrl + '" /> ');
  }
</script>
