<p>
  <strong>Student_number:</strong>
  <%= @student.student_number%>
</p>

<p>
  <strong>UserName:</strong>
  <%= @student.username%>
</p>
 
<p>
  <strong>FirstName:</strong>
  <%= @student.first_name%>
</p>

<p>
  <strong>LastName:</strong>
  <%= @student.last_name%>
</p>

	<p>
  <strong>Email:</strong>
  <%= @student.email%>
</p>
 
 
<p>
  <strong>Gender:</strong>
  <%= @student.gender%>
</p>

<p>
  <strong>DOB:</strong>
  <%= @student.dob%>
</p>

<p>
  <strong>Address1:</strong>
  <%= @student.address_1%>
</p>

<p>
  <strong>Address2:</strong>
  <%= @student.address_2%>
</p>

<p>
  <strong>City:</strong>
  <%= @student.city%>
</p>

<p>
  <strong>Country:</strong>
  <%= @student.country%>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @student.postcode%>
</p>

<p>
  <strong>Status:</strong>
  <%= @student.status%>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @student.deleted%>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> 
		
		
		
		
		