<div class="form-container">
  <h2> Student Details <span>Access your Account Details</span> </h2>

  <div class="form-data user-detail">
    <div class="row">
      <div class="col-md-9">
        <%= image_tag(@student.profile_picture.url(:thumb),class: "pro-pic") %>
        <div class="user-contact-detail">
            <h3><%="#{@student.first_name} #{@student.last_name}" %></h3> 
            <p class="email"><%= @student.email %></p>
        </div>    
      </div>  

      <div class="col-md-3 text-right">
        <div class="user-detail-status">
          <p><span>Username:</span> <span class="status-value"><%= @student.username %></span></p>
          <p><span>Status:</span> <span class="status-value"><%= @student.status %></span></p>
          <p><span>Student Number:</span> <span class="status-value"><%= @student.student_number %></span></p>                        
        </div>  
      </div>  
    </div>  


  <div class="row">
      <div class="col-md-6">
        <span class="user-detail-label">Gender:</span>
        <span class="user-detail-value"><%= @student.gender %></span>
      </div>

      <div class="col-md-6">
        <span class="user-detail-label">Dob:</span>
        <span class="user-detail-value"><%= @student.dob %></span>
      </div>
   </div>
  <div class="row">
    <div class="col-md-6">
      <span class="user-detail-label">Address 1:</span>
      <span class="user-detail-value"><%= @student.address_1 %></span>
    </div>

    <!-- <div class="col-md-6">
      <span class="user-detail-label">Address 2:</span>
      <span class="user-detail-value"><%= @student.address_2 %></span>
    </div> -->

    <div class="col-md-6">
      <span class="user-detail-label">City:</span>
      <span class="user-detail-value"><%= @student.city %></span>
    </div>
  </div>    

  <div class="row">
    <div class="col-md-6">
      <span class="user-detail-label">Country:</span>
      <span class="user-detail-value"><%= @student.country %></span>
    </div>

    <div class="col-md-6">
      <span class="user-detail-label">Post code:</span>
      <span class="user-detail-value"><%= @student.postcode %></span>
    </div>
  </div>
</div>
<h3>Email this Shedule</h3>
<div class="row">
  <div class="pull-left">
    <%= form_tag({:action=>"send_schedule_mail"}, method: "post") do %>
      <%= hidden_field_tag :id,@student.id %>
      <div class="col-md-6">
        <div class="input-box"> <i class="sprite icn-email"></i>
          <%= text_field_tag :email,params[:email] ,placeholder: "Enter Email" , class: "input-xlarge",:size=>"50"%>
        </div>
      </div>
      <div class="col-md-6">
        <%= submit_tag "Send" ,:class=>"submit-form btn btn-success" %>                             
      </div>
    <% end %>
  </div>

  <% if flash[:notice]  %>
    <div class="pull-left"><div class="alert alert-success"><%= flash[:notice] %></div></div>
  <% end %>  
  <% if flash[:alert]  %>
    <div class="pull-left"><div class="alert alert-danger"><%= flash[:alert] %></div></div>
  <% end %>  
</div>
<% if @student.schedules.present? %>
  <div class="row user-schedule">
    <div class="col-md-12">
        <div class="inner-grey-title">
          <h5>Schedules <span class="title-notify"><%= @student.schedules.count %></span></h5>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Course</th>
                  <th>Start&nbsp;Date</th>
                  <th>End Date</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <th>Location</th>
                  <th>Faculty</th>
                  <th>Delete</th>
                  <th>Edit</th>
                </tr>
              </thead>  
              <tbody>
                <% @student.schedules.each do |schedule| %>
                  <tr>
                    <td> <%= schedule.course %></td>
                    <td> <%= schedule.start_date %></td>
                    <td> <%= schedule.end_date %></td>
                    <td> <%= schedule.start_time.strftime("%H:%M %p") if schedule.start_time.present? %></td>
                    <td> <%= schedule.end_time.strftime("%H:%M %p") if schedule.end_time.present? %></td>
                    <td> <%= schedule.location %></td>
                    <td> <%= schedule.faculty %></td>
                    <td align="center"><%= link_to 'Delete', schedule_path(schedule),
                          method: :delete,
                          data: { confirm: 'Are you sure?' } %></td>
                    <td><%= link_to 'Edit', edit_schedule_path(schedule) %> </td>      
                  </tr>
               <% end %>      
             </tbody>
            </table>
          </div>
        </div>
      </div>      
<% else %> 
  <p>  No schedules created yet! </p>
<% end %> 

 <div class="row">
    <div class="col-md-12">
      <div class="button-group pull-left">
        <%= link_to 'Back', students_path, :class => 'cmn-btn grey' %>
      </div>
        <div class="button-group pull-right"> 
            <%= link_to 'Add Schedule', new_schedule_path(:student_id => @student.id),:class => 'cmn-btn purple' %>
            <%= link_to 'Edit', edit_student_path(@student), :class => 'cmn-btn grey' %> 
        </div>
      </div>
    </div>
</div>



