<p id="notice"><%= notice %></p>
<p>
  <strong>Student Id</strong>
  <%= @schedule.student_id%>
</p>

<p>
  <strong>Course</strong>
  <%= @schedule.course%>
</p>
 
<p>
  <strong>Start Date</strong>
  <%= @schedule.start_date%>
</p>

<p>
  <strong>End Date</strong>
  <%= @schedule.end_date%>
</p>

	<p>
  <strong>Start Time</strong>
  <%= @schedule.start_time%>
</p>
 
 
<p>
  <strong>End Time</strong>
  <%= @schedule.end_time %>
</p>

<p>
  <strong>Location</strong>
  <%= @schedule.location%>
</p>

<p>
  <strong>Faculty</strong>
  <%= @schedule.faculty%>
</p>

	
<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>



