<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Carepal</title>

<%= stylesheet_link_tag    'application', media: 'all'%>
<%= javascript_include_tag 'application'%>
<%= csrf_meta_tags %>

<!-- Bootstrap -->
</head>
<body>
<div class="main-container">
    <div class="container">
      <%= link_to(image_tag("logo.gif", :alt => "home image",:width => 100,:height => 100,:title => "Click here to return to Home"),root_path) %>
      <div class="row">
        <div class="col-md-12">
        	<div class="main-content">
        		<%= yield %>
          </div>
        </div>
      </div>
    </div>
</div>

</body>
</html>
